@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto' , 'sans serif';
}
:root{
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
--Tomato: hsl(4, 100%, 67%);
}
img{
    margin-top: 30%;
    margin-left: 5%;
}
h1{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 2.5rem;
    color: var(--Dark-Slate-Grey);
}
.successful p{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.2rem;
}
.successful b{
    color: var(--Dark-Slate-Grey);
}
a.dismiss{
    width: 20rem;
    display: inline-block;
    border-radius: 7px;
    padding: 20px;
    margin-left: 6%;
    margin-top: 40% ;
    background: var(--Dark-Slate-Grey);
    color: var(--White);
    text-decoration: none;
    text-align: center;
}
a.dismiss:hover{
    background:linear-gradient(145deg,rgb(218, 125, 218),orangered);
 }
 @media (min-width: 430px){
    .row{
        display: block;
        margin: 0% 35% 0% 35%;
    }
    a.dismiss{
        margin-top: 4%;
    }
    h1{
        /* margin-bottom: -4%;
        margin-top: 4%;
        font-weight: 800; */
        font-size: 2rem;
    }

     section{
        width: 430px;
        height: 480px;
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        font-size: 15px;
     }
     .successful{
        font-size: 15px;
     }
     body{
        display: flex;
        justify-content: center;
        background-color: var(--Dark-Slate-Grey);
        align-content: center;
        align-items: center;
     }
    }